[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = ">=2023.7.22"
chardet = "==5.2.0"
click = "~=8.1"
livereload = "~=2.6"
Markdown = "~=3.7"
MarkupSafe = "~=2.1"
mkdocs = "~=1.5"
mkdocs-glightbox = "*"
mkdocs-material = "~=9.5"
Pygments = "~=2.16"
requests = "~=2.32"

[dev-packages]

[requires]
python_version = "3.12"
